/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* .slick-slide img{
    width: 118px;
    height: 99px;
    margin: 0 auto;
} */

.slick-list.draggable {
    /* margin: 0 50px; */
}

.container  {
  position: relative;
}

.menu {
    margin-top: 50px;
    padding-bottom: 50px;
}

.slick-next {
    border-width: 1px;
    border-color: rgb(255, 179, 92);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    left: 56%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
}

.slick-prev {
  border-width: 1px;
  border-color: rgb(255, 179, 92);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
    bottom: -15%;
    left: 31%;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.text-block {
    text-align: center;
    max-width: 121px;
    margin: 0 auto;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

/* FEEDBACK CAROUSEL */
.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    position: relative;
}

.thumbnail {
    border-radius: 5px;
    background-color: rgba(40, 29, 24, 0.90);
    opacity: 0.902;
    position: absolute;
    width: 330px;
    height: 322px;
}






/* CARD TEST */
.card-container {
    margin: 100px 0 100px 0;
}

/* .card {
    height: 322px;
    background-image: url(../images/feedback-img.png);
} */

.card__test {
    color: white;
    background-image: url(../images/feedback-img.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 330px;
    object-fit: cover;
}

.card__test-content {
    border-radius: 5px;
    background-color: rgba(40, 29, 24, 0.90);
    background-size: cover;
    opacity: 0.902;
    position: absolute;
    width: 330px;
    height: 320px;
    padding: 29px 29px 48px 33px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 75px;
}

.socials__content {
    display: flex;
    justify-content: space-between;
}




